<!DOCTYPE html>
<html lang="en" ng-app="livroModulo">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <script src="js/angular.min.js"></script>
        <link rel="icon" href="imagens/favicon.ico">
        <title>CRUD Livros</title>
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/carousel.css" rel="stylesheet">
        <link href="css/estilos.css" rel="stylesheet">
        <script src="controller/livros.js"></script>
    </head>
    <!-- NAVBAR
        ================================================== -->
    <body ng-controller="livrosController">
        
        <div ng-include="'menus.html'"></div>
        
        <div class="container">
            <h1 align="center">Lista e Cadastro de Livros</h1>
            
                    <br>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="codigo" class="col-sm-2 control-label" >Código</label>
                            <div class="col-sm-2">
                                <input type="text" readonly ng-model="livro.codigo" class="form-control" id="codigo" placeholder="Código">    
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="titulo" class="col-sm-2 control-label">Titulo</label>
                            <div class="col-sm-8">
                                <input type="text" required ng-model="livro.titulo" class="form-control" id="titulo" placeholder="Título do Livro">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="autor" class="col-sm-2 control-label">Autor</label>
                            <div class="col-sm-8">
                                <input type="text" required ng-model="livro.autor" class="form-control" id="autor" placeholder="Autor do Livro">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ano" class="col-sm-2 control-label">Ano</label>
                            <div class="col-sm-2">
                                <input type="number" required ng-model="livro.ano" class="form-control" id="ano" placeholder="Ano do Livro">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="local" class="col-sm-2 control-label">Local</label>
                            <div class="col-sm-8">
                                <input type="text" required ng-model="livro.local" class="form-control" id="local" placeholder="Local onde se encontra o Livro">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantidade" class="col-sm-2 control-label">Quantidade</label>
                            <div class="col-sm-1">
                                <input type="number" ng-model="livro.quantidade" class="form-control" id="quantidade" placeholder="Qtd">
                            </div>
                        </div>
                        <div align="center" class="form-group">         
                            <button type="submit" ng-click="limparCampos()" class="btn btn-success">Novo</button>
                            <button ng-disabled="!livro.titulo" type="submit" ng-click="salvar()" class="btn btn-primary">Gravar</button>
                            <button type="submit" ng-click="excluir()" class="btn btn-danger">Exclur</button>
                        </div>
                    </form>
                
                    <div class="container">
                        <br>
						<div class="input-group">
						  <span class="input-group-addon" id="basic-addon1">Pesquisa de Livros</span>
						  <input type="text" ng-model="pesquisaLivro" class="form-control" placeholder="Digite a Pesquisa" aria-describedby="basic-addon1">
						</div>                        
                        <br>
                        <table class="table table-striped">
                            <th>Código</th>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Ano</th>
                            <th>Local</th>
                            <th>Quantidade</th>
                            <tr ng-repeat="livrosTabela in livros | filter:pesquisaLivro" ng-click="selecionaLivro(livrosTabela)">
                                <td>{{livrosTabela.codigo}}</td>
                                <td>{{livrosTabela.titulo}}</td>
                                <td>{{livrosTabela.autor}}</td>
                                <td>{{livrosTabela.ano}}</td>
                                <td>{{livrosTabela.local}}</td>
                                <td>{{livrosTabela.quantidade}}</td>
                            </tr>
                        </table>

                	</div>
        
	        <!-- FOOTER -->
	        <br> 
<!-- 	        <footer>
	            <p>&copy; 2016 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	        </footer> -->
        
        </div>
        <!-- Bootstrap core JavaScript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>